      <svg version="1.1" id="footer-divider"  class="secondary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1440 126" xml:space="preserve" preserveAspectRatio="none slice">
         <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
      </svg>
      <!-- ==== footer ==== -->
      <footer class="bg-secondary text-light">
         <div class="container">
            <!-- row -->
            <div class="row">
               <div class="col-lg-4 text-center">
                  <!-- logo -->
                  <img src="/img/logo_light.png"  class="logo-footer img-fluid" alt=""/>
                  <h5 class="mt-3">Staňte se členy</h5>
                  <a href="{{ site.prihlaska }}" class="btn btn-tertiary">Online přihláška</a>
                  
               </div>
               <!--/ col-lg -->
               <div class="col-lg-4 text-center res-margin">
                  <h5>Kontaktujte nás</h5>
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:klubzsrevnice@gmail.com">klubzsrevnice@gmail.com</a></li>
                  </ul>
                  <!--/ul -->
                  <!-- Start Social Links -->
                  <ul class="social-list text-center list-inline mt-2">
                     <li class="list-inline-item"><a title="Facebook" href="{{ site.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                  </ul>
                  <!-- /End Social Links -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <hr/>
            <div class="row">
               <div class="credits col-sm-12">
                  <p>Design by <a href="http://www.ingridkuhn.com">Ingrid Kuhn</a> a <a href="/lide/petr">Petr</a></p>
               </div>
            </div>
            <!--/row-->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <!--/ footer-->
      <!-- Bootstrap core & Jquery -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Custom Js -->
      <script src="/js/custom.js"></script>
      <script src="/js/plugins.js"></script>
      <!-- Prefix free -->
      <script src="/js/prefixfree.min.js"></script>
	  <!-- number counter script -->
      <script src="/js/counter.js"></script>
      <!-- maps -->
      <script src="/js/map.js"></script>
      <!-- GreenSock -->
      <script src="/vendor/layerslider/js/greensock.js"></script>
      <!-- LayerSlider script files -->
      <script src="/vendor/layerslider/js/layerslider.transitions.js"></script>
      <script src="/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
      <script src="/vendor/layerslider/js/layerslider.load.js"></script>