<!-- ==== Sidebar ==== -->
<div id="sidebar" class="h-50 col-lg-3 sticky-top">
    <!--widget-area -->
    <div class="widget-area notepad">
       <h5 class="sidebar-header">Poznejte nás</h5>
       <!-- widget -->		 
       <div class="widget2">
          <div class="card">
             <div class="card-img">
                <!-- image  -->	
                <a href="/lide">
                <img class="rounded card-img-top" src="/img/team/team-home.jpg" alt="" >
                </a>
             </div>
             <div class="card-body">
                <!--  info -->	
                <a href="/lide" class="text-center">
                   <p><strong>Více než 15 zapálených podporovatelů.</strong></p>
                </a>
                <!-- button -->	
                <a href="/lide" class="btn btn-secondary btn-block btn-sm">více info</a>
             </div>
             <!--/card-body -->	
          </div>
          <!-- /card -->	
       </div>
       <!--/widget2 -->
    </div>
    <!--/widget-area -->
    <div class="widget-area notepad">
       <h5 class="sidebar-header">Naše motto</h5>
       <p>Aby ZŠ Řevnice byla tou nejlepší školou pro naše děti.</p>
    </div>
    <!--/widget-area -->
 </div>
 <!--/sidebar -->   