<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- page title -->
      <title>{{ site.title }}</title>
      <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
      <!-- Font files -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700%7CNunito:400,700,900" rel="stylesheet">
      <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
      <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
      <!-- Fav icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- style CSS -->
      <link href="css/style.css" rel="stylesheet">
      <!-- plugins CSS -->
      <link href="css/plugins.css" rel="stylesheet">
      <!-- Colors CSS -->
      <link href="styles/maincolors.css" rel="stylesheet">
      <!-- LayerSlider CSS -->
      <link rel="stylesheet" href="vendor/layerslider/css/layerslider.css">
   </head>
   <!-- ==== body starts ==== -->
   <body id="top">
      <!-- Preloader -->
      <div id="preloader">
         <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
               <div class="preloader-logo">
                  <!-- spinner -->
                  <div class="spinner">
                     <div class="dot1"></div>
                     <div class="dot2"></div>
                  </div>
               </div>
               <!--/preloader logo -->
            </div>
            <!--/row -->
         </div>
         <!--/container -->
      </div>
      <!--/Preloader ends -->
      <nav id="main-nav" class="navbar-expand-xl fixed-top">
         <div class="row">
            <!-- Start Top Bar -->
            <div class="container-fluid top-bar" >
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <!-- Start Contact Info -->
                        <ul class="contact-details float-left">
                           <li><i class="fa fa-envelope"></i><a href="mailto:klubzsrevnice@gmail.com">klubzsrevnice@gmail.com</a></li>
                        </ul>
                        <!-- End Contact Info -->
                        <!-- Start Social Links -->
                        <ul class="social-list float-right list-inline">
                           <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                           <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <!-- /End Social Links -->
                     </div>
                     <!-- col-md-12 -->
                  </div>
                  <!-- /row -->
               </div>
               <!-- /container -->
            </div>
            <!-- End Top bar -->
            <!-- Navbar Starts -->
            <div class="navbar container-fluid">
               <div class="container ">
                  <!-- logo -->
                  <a class="nav-brand" href="/">
                  <img src="img/logo.png" alt="" class="img-fluid">
                  </a>
                  <!-- Navbar toggler -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggle-icon">
                  <i class="fas fa-bars"></i>
                  </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                     <ul class="navbar-nav ml-auto">
                        <!-- menu item -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Domů</a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item">
                            <a class="nav-link" href="/zapojtese">Jak se zapojit</a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item">
                            <a class="nav-link" href="/lide">Naši lidé</a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="/aktivity" id="services-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Aktivity
                           </a>
                           <div class="dropdown-menu" aria-labelledby="services-dropdown">
                              <a class="dropdown-item" href="/clil">CLIL</a>
                              <a class="dropdown-item" href="/robotika">Robotika je hra</a>
                              <a class="dropdown-item" href="/podpora">Podpora dětí</a>
                           </div>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumenty">Dokumenty</a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item">
                            <a class="nav-link" href="/kontakt">Kontakt</a>
                        </li>
                     </ul>
                     <!--/ul -->
                  </div>
                  <!--collapse -->
               </div>
               <!-- /container -->
            </div>
            <!-- /navbar -->
         </div>
         <!--/row -->
      </nav>
      <!-- /nav -->
      <!-- page wrapper starts -->
      <div id="page-wrapper">
         <!-- ==== Slider ==== -->
         <div class="container-fluid p-0">
            <!-- Parallax Slider -->
            <div id="slider" class="parallax-slider" style="width:1200px;margin:0 auto;margin-bottom: 0px;">
               <!-- Slide 1 -->
               <div class="ls-slide" data-ls="duration:4000; transition2d:7;">
                  <!-- background image  -->
                  <img src="img/slider/parallaxslider/slide1.jpg" class="ls-bg" alt="" />
                  <!-- clouds  -->
                  <img  src="img/slider/parallaxslider/clouds.png" class="ls-l" alt="" style="top:56px;left:-100px;" data-ls="parallax:true; parallaxlevel:-5;">
                  <!-- butterflies  -->
                  <img  src="img/slider/parallaxslider/butterflies.png" class="ls-l" alt="" style="top:16px;left:0px;" data-ls=" parallax:true; parallaxlevel:4;">
                  <!-- sun  -->
                  <img  src="img/slider/parallaxslider/sun.png" class="ls-l" alt="" style="top:-190px;left:650px;" data-ls="parallax:true; parallaxlevel:-3;">
                  <!--child image  -->
                  <img  src="img/slider/parallaxslider1.png" class="ls-l" alt="" style="top:166px;left:520px;" data-ls="offsetxin:10; offsetyin:120; durationin:1100; rotatein:5; transformoriginin:59.3% 80.3% 0; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:10;">
                  <!-- text  -->
                  <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                     <div class="header-text">
                        <span>Vítejte na stránkách</span> 
                        <h1>Klubu rodičů ZŠ Řevnice</h1>
                        <!--the div below is hidden on small screens  -->
                        <div class="hidden-small">
                           <p class="header-p">"Aby ZŠ Řevnice byla tou nejlepší školou pro naše děti."</p>
                           <a class="btn btn-secondary" href="/zapojtese">Zapojte se!</a>
                        </div>
                        <!--/hidden-small -->
                     </div>
                     <!-- header-text  -->
                  </div>
                  <!-- ls-l  -->
               </div>
               <!-- ls-slide -->
            </div>
            <!-- /slider -->
            <svg version="1.1" id="divider"  class="slider-divider" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 1440 126" preserveAspectRatio="none slice" xml:space="preserve">
               <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
            </svg>
         </div>
         <!-- /container-fluid -->
         <!-- ==== Page Content ==== -->
         <div class="container">
            <!-- section -->  
            <section id="intro-cards"  class="row pb-0">
               <!-- card 1 -->  
               <div class="col-lg-4" data-aos="zoom-out">
                  <div class="card card-flip">
                     <!-- front of card  -->  
                     <div class="card bg-secondary text-light ">
                        <div class="p-5">
                           <h5 class="card-title text-light">CLIL</h5>
                           <p class="card-text">
                            aneb výuka s anglicky mluvícím pedagogem
                           </p>
                           <!-- button show on mobile only,where flip is disabled -->
                           <a href="/clil" class="btn d-lg-none">více info</a>
                        </div>
                        <!-- /p-5 -->
                        <!-- image -->
                        <img class="card-img" src="img/intro1.jpg" alt="">
                     </div>
                     <!-- /card -->
                     <!-- back of card -->  			
                     <div class="card bg-secondary text-light card-back">
                        <div class="card-body d-flex justify-content-center align-items-center">
                           <div class="p-4">
                              <h5 class="card-title text-light">Roku 2018</h5>
                              <p class="card-text">jsme ve spolupráci se školou a za podpory města Řevnice
                                  odstartovali pilotní projekt výuky s rodilým mluvčím ve všech 3. třídách.
                              </p>
                              <!-- button -->
                              <a href="/clil" class="btn">více info</a>
                           </div>
                           <!-- /p-4 -->
                        </div>
                        <!-- /card-body -->
                     </div>
                     <!-- /card -->
                  </div>
                  <!--/col-lg -->
               </div>
               <!--/card 1 -->  
               <!-- card 2-->  
               <div class="col-lg-4" data-aos="zoom-out" data-aos-delay="300">
                  <div class="card card-flip ">
                     <!-- front of card  -->  
                     <div class="card bg-primary text-light">
                        <div class="p-5">
                           <h5 class="card-title text-light">Robotika je hra</h5>
                           <p class="card-text">
                              aneb technické kroužky pro holky a kluky ve 2. - 5. třídě
                           </p>
                           <!-- button show on mobile only,where flip is disabled -->
                           <a href="/robotika" class="btn d-lg-none">více info</a>
                        </div>
                        <!-- /p-5 -->
                        <!-- image -->
                        <img class="card-img" src="img/intro2.jpg" alt="">
                     </div>
                     <!-- /card -->
                     <!-- back of card -->  			
                     <div class="card bg-primary text-light card-back">
                        <div class="card-body d-flex justify-content-center align-items-center">
                           <div class="p-4">
                              <h5 class="card-title text-light">Nadšení lektoři</h5>
                              <p class="card-text">z řad rodičů seznamují děti 
                                  se základy fyziky, mechaniky, robotiky a programování. 
                              </p>
                              <!-- button -->
                              <a href="/robotika" class="btn">více info</a>
                           </div>
                           <!-- /p-4 -->
                        </div>
                        <!-- /card-body -->
                     </div>
                     <!-- /card -->
                  </div>
                  <!--/card 2 -->
               </div>
               <!--/col-lg -->
               <!-- card 3-->  
               <div class="col-lg-4" data-aos="zoom-out" data-aos-delay="600">
                  <div class="card card-flip ">
                     <!-- front of card  -->  
                     <div class="card bg-tertiary text-light">
                        <div class="p-5">
                           <h5 class="card-title text-light">Podpora dětí</h5>
                           <p class="card-text">
                              ze sociálně slabších rodin
                           </p>
                           <!-- button show on mobile only,where flip is disabled -->
                           <a href="/podpora" class="btn d-lg-none">více info</a>
                        </div>
                        <!-- /p-5 -->
                        <!-- image -->
                        <img class="card-img" src="img/intro3.jpg" alt="">
                     </div>
                     <!-- /card -->
                     <!-- back of card -->  			
                     <div class="card bg-tertiary text-light card-back">
                        <div class="card-body d-flex justify-content-center align-items-center">
                           <div class="p-4">
                              <h5 class="card-title text-light">Díky velkorysosti</h5>
                              <p class="card-text">našich dárců se můžeme starat asi o 20 rodin a pomáhat jim s jejich strastmi.
                              </p>
                              <!-- button -->
                              <a href="/podpora" class="btn">více info</a>
                           </div>
                           <!-- /p-4 -->
                        </div>
                        <!-- /card-body -->
                     </div>
                     <!-- /card -->
                  </div>
                  <!--/card 3 -->
               </div>
               <!--/col-lg -->
            </section>
            <!-- #intro-cards --> 
         </div>
         <!-- /container -->  
         <!-- section -->
         <section id="about-home" class="container-fluid pb-0">
            <div class="container">
               <!-- section heading -->  
               <div class="section-heading text-center">
                  <h2>Kdo jsme</h2>
                  <p class="subtitle">a co chceme</p>
               </div>
               <!-- /section-heading -->
               <div class="row">
                  <div class="col-lg-7 ">
                     <h3>Náš cíl</h3>
                     <p class="mt-4 res-margin">Jsme rodiče a přátelé ZŠ Řevnice, kterým na naší škole záleží, 
                         a proto jí chceme v rámci svých možností a ve spolupráci s pedagogickým sborem pomáhat. 
                         Naší snahou je, aby řevnická škola byla tou nejlepší školou pro naše děti, 
                         aby do ní chodily rády, cítily se v ní bezpečně a získaly v ní znalosti a 
                         dovednosti potřebné pro život ve 21. století.                                                                                                                                                                                                                                               Protože věříme, že možností, jak školu podpořit a také lidí, kteří by jí rádi pomohli, je hodně, rozhodli jsme se obnovit činnost klubu rodičů a přátel školy a vyzvat všechny zájemce ke spolupráci. Protože víc hlav víc ví, víc rukou toho víc udělá a čím více nás bude, tím větší budou naše možnosti a tím více toho pro školu a naše děti uděláme :-).                                          </p>
                     <a href="/lide" class="btn btn-secondary ">naši lidé</a>
                  </div>
                  <!-- /col-lg -->
                  <div class="col-lg-5 res-margin">
                     <!-- image -->
                     <img class="img-fluid rounded" src="img/about/about2.jpg" alt="">
                     <!-- ornament starts-->
                     <div class="ornament-rainbow" data-aos="zoom-out"></div>
                  </div>
                  <!-- /col-lg -->
               </div>
               <!-- /row -->
               <h3 class="mt-5 text-center">Co na to říkají rodiče a učitelé?</h3>
               <div class="row">
                  <!-- testimonials -->
                  <!-- testimonial carousel -->
                  <div class="carousel-2items owl-carousel owl-theme col-md-12">
                     <!-- testimonial -->
                     <div class="testimonial">
                        <div class="content">
                           <p class="description">
                              Klub rodičů mi změnil život. Už nikdy nebudu jako dřív.    
                           </p>
                        </div>
                        <!-- /content -->
                        <div class="testimonial-review">
                           <h5 class="testimonial-title">Ludmila Lázničková</h5>
                           <span class="post">rodič</span>
                        </div>
                        <!-- /testimonial-review -->
                     </div>
                     <!-- /testimonial -->
                     <!-- testimonial -->
                     <div class="testimonial">
                        <div class="content">
                           <p class="description">
                              Výuka s anglickým lektorem funguje výborně, baví to mě u děti. 
                           </p>
                        </div>
                        <!-- /content -->
                        <div class="testimonial-review">
                           <h5 class="testimonial-title">Drahomíra Dušičková</h5>
                           <span class="post">učitelka</span>
                        </div>
                        <!-- /testimonial-review -->
                     </div>
                     <!-- /testimonial -->
                  </div>
                  <!-- /owl-testimonial -->      
               </div>
               <!-- /row -->
            </div>
            <!-- /container-->
            <!-- whale in water scene -->
            <!-- whale -->
            <img src="img/ornaments/whale.png" class="floating-whale" alt="">
            <!-- waves -->
            <div class="waveHorizontals">
               <div id="waveHorizontal1" class="waveHorizontal"></div>
               <div id="waveHorizontal2" class="waveHorizontal"></div>
               <div id="waveHorizontal3" class="waveHorizontal"></div>
            </div>
            <!-- sea -->
            <div class="sea"></div>
            <!--/ whale in water scene ends -->
         </section>
         <!-- /section ends -->
         <!-- section --> 
         <section id="features" class="bg-secondary text-light">
            <div class="container">
               <!-- section heading -->  
               <div class="section-heading text-center">
                  <h2>Naše aktivita</h2>
                  <p class="subtitle">a plány</p>
               </div>
               <!-- /section-heading -->
               <!-- features -->
               <div class="mb-4">
                    Ve spolupráci s vedením školy se už leccos povedlo, třeba výuka s anglicky mluvícími pedagogy (tzv. CLIL),
                    kroužky robotiky nebo podpora dětí ze sociálně slabších rodin. Chtěli bychom ale také pomáhat při přípravě,
                    organizování a financování různých akcí, jako jsou vánoční trhy, školní ples, školní akademie, případně
                    vymyslet a zorganizovat další zábavné a kulturní akce pro děti a pro školu. 
                    Plánujeme také vzdělávací aktivity formou tzv. rodičovských kaváren na různá výchovně - vzdělávací témata
                    jako je například kybernetická bezpečnost, šikana, výchova s technologiemi a mnohá další podle zájmu. 
                    Svojí činností chceme přispět ke zkvalitnění školního prostředí, zpestření výuky a k rozšíření možností 
                    pro trávení volného času. Vítáme všechny náměty a komentáře lidí se zájmem o školu, které budeme 
                    konzultovat s vedením ZŠ Řevnice.
                </div>
               <div class="row ">
                  <div class="col-lg-6">
                     <div class="row">
                        <div class="col-md-6 col-lg-6">
                           
                           <!-- feature -->
                           <div class="feature-with-icon">
                              <div class="icon-features">
                                 <!-- icon -->
                                 <i class="flaticon-maternity text-primary"></i>
                              </div>
                              <h5>Rodičovské kavárny</h5>
                              <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                           </div>
                           <!-- /feature-with-icon-->
                           <!-- feature -->
                           <div class="feature-with-icon mt-5">
                              <div class="icon-features">
                                 <!-- icon -->
                                 <i class="flaticon-open-book-1 text-primary"></i>
                              </div>
                              <h5>Financování akcí</h5>
                              <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                           </div>
                           <!-- /feature-with-icon-->
                        </div>
                        <div class="col-md-6 col-lg-6">
                           <!-- feature -->
                           <div class="feature-with-icon">
                              <div class="icon-features">
                                 <!-- icon -->
                                 <i class="flaticon-classroom-1 text-primary"></i>
                              </div>
                              <h5>Vzdělávací aktivity</h5>
                              <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                           </div>
                           <!-- /feature-with-icon-->
                           <!-- feature -->
                           <div class="feature-with-icon mt-5">
                              <div class="icon-features">
                                 <!-- icon -->
                                 <i class="flaticon-baby-boy text-primary"></i>
                              </div>
                              <h5>Kroužky pro děti</h5>
                              <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                           </div>
                           <!-- /feature-with-icon-->
                        </div>
                        <!-- /col-l -->
                     </div>
                     <!-- /row-->
                  </div>
                  <!-- /col-l -->
                  <div class="col-lg-6 features-bg">
                     <!-- image -->
                     <img src="img/features.png" alt="" class="img-fluid"  data-aos="zoom-out"   data-aos-delay="300"/>
                  </div>
                  <!-- /col-l -->
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->
         </section>
         <!-- /section ends -->
         <!-- Section  -->
         <section id="counter-section" class="container-fluid counter-calltoaction bg-fixed overlay"  data-100-bottom="background-position: 50% 100px;"
            data-top-bottom="background-position: 50% -100px;" >
            <div id="counter" class="container">
               <div  class="row col-lg-10 offset-lg-1">
                  <!-- Counter -->
                  <div class="col-xl-4 col-md-4">
                     <div class="counter">
                        <div class="counter-wrapper bg-primary">
                           <i class="counter-icon flaticon-teacher"></i>
                           <!-- insert your final value on data-count= -->
                           <div class="counter-value" data-count="15">0</div>
                           <h3 class="title">aktivních rodičů</h3>
                        </div>
                     </div>
                     <!-- /counter -->
                  </div>
                  <!-- /col-lg -->
                  <!-- Counter -->
                  <div class="col-xl-4 col-md-4">
                     <div class="counter">
                        <div class="counter-wrapper bg-secondary">
                           <i class="counter-icon  flaticon-family"></i>
                           <!-- insert your final value on data-count= -->
                           <div class="counter-value" data-count="5">0</div>
                           <h3 class="title">členů spolku</h3>
                        </div>
                     </div>
                     <!-- /counter -->
                  </div>
                  <!-- /col-lg -->
                  <!-- Counter -->
                  <div class="col-xl-4 col-md-4">
                     <div class="counter">
                        <div class="counter-wrapper bg-tertiary">
                           <i class="counter-icon flaticon-children"></i>
                           <!-- insert your final value on data-count= -->
                           <div class="counter-value" data-count="600">0</div>
                           <h3 class="title">dětí</h3>
                        </div>
                     </div>
                     <!-- /counter -->
                  </div>
                  <!-- /col-lg -->		 
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->
         </section>
         <!-- /section ends-->
         <!-- section -->
         <section id="blogprev-home" data-100-bottom="background-position: 0% 120%;"
            data-top-bottom="background-position: 0% 100%;">
            <div class="container">
               <!-- section heading -->  
               <div class="section-heading text-center">
                  <h2>Aktuality</h2>
                  <p class="subtitle">Co je nového?</p>
               </div>
               <!-- /section-heading -->
               <!-- blog carousel -->
               <div class="carousel-3items owl-carousel owl-theme mt-0">
                  <!-- blog-box -->
                  <div class="blog-box">
                     <!-- image -->
                     <a href="blog-single.html">
                        <div class="image"><img src="img/blog/blogstyle2-1.jpg" alt=""/></div>
                     </a>
                     <!-- blog-box-caption -->
                     <div class="blog-box-caption">
                        <!-- date -->
                        <div class="date"><span class="day">12</span><span class="month">May</span></div>
                        <a href="blog-single.html">
                           <h4>Helping Your Child with Socialization</h4>
                        </a>
                        <!-- /link -->
                        <p>
                           Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                        </p>
                     </div>
                     <!-- blog-box-footer -->
                     <div class="blog-box-footer">
                        <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Lauren Smith</a></div>
                        <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>23</a></div>
                        <!-- Button -->	 
                        <div class="text-center col-md-12">
                           <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                        </div>
                     </div>
                     <!-- /blog-box-footer -->
                  </div>
                  <!-- /blog-box -->
                  <!-- blog-box -->
                  <div class="blog-box">
                     <!-- image -->
                     <a href="blog-single.html">
                        <div class="image"><img src="img/blog/blogstyle2-2.jpg" alt=""/></div>
                     </a>
                     <!-- blog-box-caption -->
                     <div class="blog-box-caption">
                        <!-- date -->
                        <div class="date"><span class="day">28</span><span class="month">June</span></div>
                        <a href="blog-single.html">
                           <h4>Our Healthy meals that toddlers love</h4>
                        </a>
                        <!-- /link -->
                        <p>
                           Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                        </p>
                     </div>
                     <!-- blog-box-footer -->
                     <div class="blog-box-footer">
                        <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Jonas Doe</a></div>
                        <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>5</a></div>
                        <!-- Button -->	 
                        <div class="text-center col-md-12">
                           <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                        </div>
                     </div>
                     <!-- /blog-box-footer -->
                  </div>
                  <!-- /blog-box -->
                  <!-- blog-box -->
                  <div class="blog-box">
                     <!-- image -->
                     <a href="blog-single.html">
                        <div class="image"><img src="img/blog/blogstyle2-3.jpg" alt=""/></div>
                     </a>
                     <!-- blog-box-caption -->
                     <div class="blog-box-caption">
                        <!-- date -->
                        <div class="date"><span class="day">02</span><span class="month">July</span></div>
                        <a href="blog-single.html">
                           <h4>20 Fun Activities to Do With Your Kids</h4>
                        </a>
                        <!-- /link -->
                        <p>
                           Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                        </p>
                     </div>
                     <!-- blog-box-footer -->
                     <div class="blog-box-footer">
                        <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Lauren Smith</a></div>
                        <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>10</a></div>
                        <!-- Button -->	 
                        <div class="text-center col-md-12">
                           <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                        </div>
                     </div>
                     <!-- /blog-box-footer -->
                  </div>
                  <!-- /blog-box -->
                  <!-- blog-box -->
                  <div class="blog-box">
                     <!-- image -->
                     <a href="blog-single.html">
                        <div class="image"><img src="img/blog/blogstyle2-4.jpg" alt=""/></div>
                     </a>
                     <!-- blog-box-caption -->
                     <div class="blog-box-caption">
                        <!-- date -->
                        <div class="date"><span class="day">18</span><span class="month">June</span></div>
                        <a href="blog-single.html">
                           <h4>Brain-Boosting Activities for Children</h4>
                        </a>
                        <!-- /link -->
                        <p>
                           Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                        </p>
                     </div>
                     <!-- blog-box-footer -->
                     <div class="blog-box-footer">
                        <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Jonas Doe</a></div>
                        <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>11</a></div>
                        <!-- Button -->	 
                        <div class="text-center col-md-12">
                           <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                        </div>
                     </div>
                     <!-- /blog-box-footer -->
                  </div>
                  <!-- /blog-box -->
               </div>
               <!-- /owl-carousel -->
            </div>
            <!-- /container -->
         </section>
         <!-- /section ends-->
         <!-- section -->		   
         <section id="callout" class=" container-fluid bg-fixed">
            <div class="container">
               <!-- row -->
               <div class="row">
                  <div class="col-lg-6 p-0" data-start="right: 50%;" 
                     data-center="right:-5%;">
                     <!-- image  -->
                     <img src="img/call-to-action/calltoactionbg.jpg" class="img-fluid img-rounded" alt="">
                  </div>
                  <!-- text box  -->
                  <div class="col-lg-6 bg-secondary p-5 justify-content-center align-self-center"  data-start="left: 50%;" 
                     data-center="left:-5%;">
                     <div class="text-light justify-content-center align-self-center">
                        <h3>Kde seženeme peníze?</h3>
                        <p>Příjmy klubu budou tvořit především členské příspěvky, dary, 
                            výnosy z různých společenských akcí a doufáme, že i granty. 
                            Veškeré získané peníze využijeme ve prospěch školy a jejích žáků a o 
                            jejich konkrétním určení rozhodne na doporučení svých členů Rada klubu.</p>
                            <p>Dává vám to smysl?</p>
                        <a href="/zapojtese" class="btn btn-tertiary">Pojďte do toho s námi!</a>
                     </div>
                     <!-- /text-light  -->
                  </div>
                  <!-- /col-lg  -->
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->
         </section>
         <!-- /section ends -->
         <!-- section-->
         <section id="team-home" class="container">
            <!-- section heading -->  
            <div class="section-heading text-center">
               <h2>Naši lidé</h2>
               <p class="subtitle">kteří chtějí školu lepší</p>
            </div>
            <!-- /section-heading -->  
            <div class="row">
               <div class="col-lg-12">
                  <!-- team carousel -->  
                  <div class="carousel-4items owl-carousel owl-theme mt-5">
                    {% for p in site.people %}
                    <!-- Team member 1 -->
                     <div class="col-md-12 team-style1 notepad">
                        <div class="team_img">
                           <a href="{{ p.url }}">
                           <img src="img/team/{{ p.photo }}" class="img-fluid" alt="">
                           </a>
                           <!-- social icons -->
                           <ul class="social">
                              {% if p.mail %}<li><a href="mailto:{{ p.mail }}"><i class="fa fa-envelope"></i></a></li>{% endif %}
                              {% if p.fb %}<li><a href="https://www.facebook.com/{{ p.fb }}"><i class="fab fa-facebook"></i></a></li>{% endif %}
                              {% if p.twitter %}<li><a href="https://twitter.com/{{ p.twitter }}"><i class="fab fa-twitter"></i></a></li>{% endif %}
                              {% if p.linkedin %}<li><a href="www.linkedin.com/in/{{ p.linkedin }}"><i class="fab fa-linkedin"></i></a></li>{% endif %}
                              {% if p.web %}<li><a href="{{ p.web }}"><i class="fa fa-link"></i></a></li>{% endif %}
                           </ul>
                        </div>
                        <!-- /team_img -->
                        <div class="team-content">
                           <a href="{{ p.url }}">
                              <h5 class="title">{{ p.name }}</h5>
                           </a>
                           <span class="post">{{ p.position }}</span>
                           <p>{{ p.bio }}</p>
                        </div>
                        <!-- /team-content -->
                     </div>
                     <!-- /team-style1 -->
                     {% endfor %}
                  </div>
                  <!-- /owl-team--> 
               </div>
               <!-- /col-lg-->
            </div>
            <!-- /row-->
         </section>
         <!-- /section ends-->
      </div>
      <!--/ page-wrapper -->
      <svg version="1.1" id="footer-divider"  class="secondary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1440 126" xml:space="preserve" preserveAspectRatio="none slice">
         <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
      </svg>
      <!-- ==== footer ==== -->
      <footer class="bg-secondary text-light">
         <div class="container">
            <!-- row -->
            <div class="row">
               <div class="col-lg-4 text-center">
                  <!-- logo -->
                  <img src="img/logo_light.png"  class="logo-footer img-fluid" alt=""/>
                  <h5 class="mt-3">Posílejte mi novinky</h5>
                  <!-- Mailist Form -->				
                  <div id="mc_embed_signup">
                     <!-- your mailist address in the line bellow -->
                     <form action="//listname.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&amp;id=0dae358e08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                           <div class="mc-field-group">
                              <div class="input-group">
                                 <input class="form-control input-lg required email" type="email" value="" name="EMAIL" placeholder="Zadejte váš email" id="mce-EMAIL">
                                 <span class="input-group-btn">
                                 <button class="btn btn-tertiary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Přihlásit se</button>
                                 </span>
                              </div>
                              <!-- Subscription results -->
                              <div id="mce-responses" class="mailchimp">
                                 <div class="alert alert-danger response" id="mce-error-response"></div>
                                 <div class="alert alert-success response" id="mce-success-response"></div>
                              </div>
                           </div>
                           <!-- /mc-fiel-group -->									
                        </div>
                        <!-- /mc_embed_signup_scroll -->
                     </form>
                     <!-- /form ends -->
                  </div>
                  <!-- /mc_embed_signup -->		  
               </div>
               <!--/ col-lg -->
               <div class="col-lg-4 text-center res-margin">
                  <h5>Kontaktujte nás</h5>
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:klubzsrevnice@gmail.com">klubzsrevnice@gmail.com</a></li>
                  </ul>
                  <!--/ul -->
                  <!-- Start Social Links -->
                  <ul class="social-list text-center list-inline mt-2">
                     <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                     <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                     <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                  <!-- /End Social Links -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <hr/>
            <div class="row">
               <div class="credits col-sm-12">
                  <p>Design by <a href="http://www.ingridkuhn.com">Ingrid Kuhn</a> a <a href="/lide/petr">Petr</a></p>
               </div>
            </div>
            <!--/row-->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <!--/ footer-->
      <!-- Bootstrap core & Jquery -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Custom Js -->
      <script src="js/custom.js"></script>
      <script src="js/plugins.js"></script>
      <!-- Prefix free -->
      <script src="js/prefixfree.min.js"></script>
	  <!-- number counter script -->
      <script src="js/counter.js"></script>
      <!-- maps -->
      <script src="js/map.js"></script>
      <!-- GreenSock -->
      <script src="vendor/layerslider/js/greensock.js"></script>
      <!-- LayerSlider script files -->
      <script src="vendor/layerslider/js/layerslider.transitions.js"></script>
      <script src="vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
      <script src="vendor/layerslider/js/layerslider.load.js"></script>
    </body></html>