---
layout: default
---
{% if page.jmeno %}
{% assign title = page.jmeno %}
{% assign shorttitle = title | split: " " | first %}
{% else %}
{% assign title = page.title %}
{% assign shorttitle = page.title %}
{% endif %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container" >
       <!-- jumbo-heading -->
       <div class="jumbo-heading" data-aos="fade-down">
          <h1>{{ shorttitle }}</h1>
          <!-- Breadcrumbs -->
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Domů</a></li>
                {% if layout.bread %}<li class="breadcrumb-item"><a href="{{ layout.breadlink }}">{{ layout.bread }}</a></li>{% endif %}
                {% unless layout.hidelastbread %}<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>{% endunless %}
             </ol>
          </nav>
          <!-- /breadcrumb -->
       </div>
       <!-- /jumbo-heading -->
    </div>
    <!-- /container -->
 </div>
 <!-- /jumbotron -->
 {{ content }}